.DS_Store

# dependencies
node_modules/
Control/node_modules/
backend_Control/node_modules/

# env
.env
.env.*
!.env.example
Control/.env
backend_Control/.env

# build outputs
dist/
Control/dist/
Control/web-build/
backend_Control/dist/

# Expo
Control/.expo/
Control/expo-env.d.ts

# native/generated
Control/ios/
Control/android/

# logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
